:root{
    --primary:#757575;
    --primarylight:#a4a4a4;
    --primarydark:#494949; 
}   
body{
   margin:10px 10px 10px 10px;
   box-sizing: border-box;  /* para não calcular width e heigth junto com padding etc..*/
   background:#a4a4a4;
   background-size: cover;
   width:100vw;
   overflow-x:hidden;

    font-family: 'Dongle', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Praise';
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif; 
  
   
}



.logo{
    display: block;
    float: left;
    font-size: 20px;
    margin: 0px 10px 0px 10px;
    color:var(--primarylight);
}

#topo{                                       /* Todo TOPO do Site*/
    background-color: rgba(0, 5, 10, 0.548);   
    overflow: hidden;
    position: fixed;
    left: 0;
    margin: 0;
    width: 100%;
    
}

#topo a{
    margin: 10px;
    position: relative;
    top: 6px;
    color: black;
    font-family: 'Roboto';
}


.carddescricao{
    margin-top: 50px;
    width: 100vw;
    height: 500px;
    background: url(image/fotofundo.jpg) no-repeat;
    background-size: 100%;
    background-position: center;
    
    
}


h1{
    color: green;
}


.carddescricao p{
    
    background-color: #494949(128, 128, 128, 0.178);
    color: #ffffff;
    font-size: 20px;
    width: 50%;
    margin: 40px auto; 
    
    font-family:'Roboto', 'Ubuntu' , sans-serif;
    
}

.p2{
    background-color: #990f0fc4;
}

.textomeio{
    background-color: #aeaeae;
    width: 100%;

}


.cardapiodrink table{
    background-color: #8e000096;
    border-radius: 20px;
    font-family:'Praise' ;
    margin-top: 20px 0px 0px 0px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}

.cardapiodrink img , .cardapiofood img{
    width: 120px;
    height: 100px;
    border-radius: 10px;
}


.cardapiofood table{
    background-color: #8e000096;
    border-radius: 20px;
    font-family:'Praise';
    margin: 20px 0px 0px 0px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
    
    
}

.cardapiofood table thead th, .cardapiofood table tr td{
   padding: 30px 12px 30px 12px; 
   
   font-size: 30px;
    
}

.cardapiodrink table thead th , .cardapiodrink table tr td {
    padding: 30px 12px 30px 12px;
    
    font-size: 30px;
    
}

.checkfood{    /*checkbox comida*/

    font-size: 22px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: #ffffffbf;
    BOX-SHADOW: 0px 2px var(--primarylight);
    
    
    
}

.checkfood p label{  /*checkbox comida*/
    padding: 70px;
    color: #000000;
}

.checkfood p label span{  /*checkbox comida*/
    color: rgb(110, 0, 0);
    font-family: 'Roboto Slab', serif;
    
}
.checkfood p label span::before{  /*checkbox comida*/
    
    box-sizing: initial;
     border: 2px solid #921212;
    
}

.checkfood p label span:not(.lever):before{

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 3px solid #000000;
    border-radius: 1px;
    margin-top: 0px;
    -webkit-transition: .2s;
    transition: .2s;
   
}


.checkdrink{         
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: #ffffffbf;
    BOX-SHADOW: 0px 2px var(--primarylight);
}

.checkdrink p label{     
    padding: 70px;
    color: black;
    
}

.checkdrink p label span{  /*checkbox comida*/
    color: rgb(110, 0, 0);
    font-family: 'Roboto Slab', serif;
    
}
.checkdrink p label span::before{  /*checkbox comida*/
    
    box-sizing: initial;
     border: 2px solid #921212;
    
}

.checkdrink p label span:not(.lever):before{

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 3px solid #000000;
    border-radius: 1px;
    margin-top: 0px;
    -webkit-transition: .2s;
    transition: .2s;
   
}



h2{
    text-align: center;
    color: #ba0000;
    background-color:#000000b8 ;
    margin: auto;
    
    
}

fieldset{
    margin-top: 30px;
    border-radius: 20px; 
    background: url(image/delivery.jpg) no-repeat;
    background-size: 100%;
    background-position: center; 
    box-shadow: 0px 3px 5px var(--primarydark);
}

#cadastro{
    
    border-radius: 10px;
    background-color: #ffffffbf;
    
}

#cadastro label{
    font-size: 20px;
}

#cadastro input[type=text]:not(.browser-default){
    border-bottom: 1px solid #000000;
}

#botao{
    
        border: outset;
        border-radius: 10px;
        font-size: 20px;
        font-family: 'Playfair Display', serif;
        
}


@media screen and (min-height: 1000px){
    fieldset{
        background-size: 200%;
     }
     .cardapiodrink img, .cardapiofood img{
         width: 110px;
     }
}

@media screen and (min-width: 1020px) {

    fieldset{
        background-size: 125%;
     }
  }


@media screen and (max-width: 600px) {
    .carddescricao p{
     width: 80%;   
    }
    fieldset{
        background-size: 300%;
     }
  }



  @media screen and (max-width: 500px) {
    .carddescricao p{
     width: 80%;
     font-size: 13px;   
    }
    fieldset{
        background-size: 500%;
     }
  }

  @media screen and (max-width: 400px) {
    .carddescricao p{  
     width: 80%;
     font-size: 13px;   
    }

    #topo a{
        margin: 10px;
        position: relative;
        top: 6px;
        color: black;
    }

    .cardapiofood table thead th, .cardapiofood table tr td{
        padding: 22px 10px 22px 10px;
        font-size: 20px; 
     }
     
     .cardapiodrink table thead th , .cardapiodrink table tr td {
         padding: 20px 10px 20px 10px;
         font-size: 20px;
     }
     fieldset{
        background-size: 600%;
     }
        }

      @media screen and (max-width: 340px){
          #topo a{
            margin: 0PX;
          }
          .carddescricao p{
            margin-top: 70px;   
            width: 80%;
            font-size: 13px;   
           }

    }

  @media screen and (max-width: 300px) {
      
    .carddescricao p{
     margin-top: 70px;   
     width: 80%;
     font-size: 11px;   
    }

    #topo a{
        margin: 2px;
        
    }
    
    .cardapiodrink img , .cardapiofood img{
        width: 80px;
        border-radius: 10px;
    }
    
    
    .cardapiofood table thead th, .cardapiofood table tr td{
       padding: 22px 10px 22px 10px;
       font-size: 20px; 
    }
    
    .cardapiodrink table thead th , .cardapiodrink table tr td {
        padding: 20px 10px 20px 10px;
        font-size: 20px;
    }

}

@media screen and (max-width: 290px) {
   h1{
        font-size: 45px;
   }
   .checkfood {
    
    display: table-caption;
    
}
.checkdrink {
    
    display: table-caption;
    
}
fieldset{
    background-size: 800%;
 }
}




